.Home {
	margin-top: 10rem;
}

/* #1 sezione */
.Social {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}

.Social > a > img {
	max-width: 3rem;
	max-height: 3rem;
}

.BaldoIMG {
	max-height: 60vh;
	max-width: 100%;
}

.Title > div {
	margin: 1rem 0;
	text-shadow: 0px 0px 20px black;
	text-align: start;
}

.Home .h1 {
	font-size: max(6vw, 4rem);
}

.Home .h2 {
	font-size: max(3vw, 2rem);
}

.Home .btn-contact{
	border: none;
	box-shadow: 0 0 10px var(--pink-color);
}

.Home .btn-contact:hover{
	color: var(--blue-color);
	background-color: var(--pink-color);
}

.Home .btn-pink-reverse{
	position: relative;
	border: none;
}

.Home .btn-pink-reverse::before {
	content: "";
	position: absolute;
	max-width: 0;
	height: 0.1rem;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--pink-color);
	transition: all 0.5s;
}

.Home .btn-pink-reverse:hover{
	color: var(--pink-color);
}

.Home .btn-pink-reverse:hover::before {
	max-width: 100%;
}

@media screen and (max-width: 768px) {
	.Home {
		margin-top: 0;
	}

	.Social {
		flex-direction: row;
		order: 3;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}

	.Title{
		text-align: center !important;
	}

	.Title > div {
		text-align: center;
	}
}
